################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/FaceRecognize_Wpf/bin/Debug
/FaceRecognize_Wpf/obj
